* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 49rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  margin-top: 1.5rem;
}

input {
  padding: 1.5rem;
  border-radius: 2rem;
  width: 30rem;
  box-shadow: none;
  border: 1px solid black;
  outline-color: #3ba347;
}

.container button {
  width: 20rem;
  padding: 1rem 5rem;
  background-color: #aec09a;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 2rem;
  border: none;
  color: white;
  cursor: pointer;
}

.circle1 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: #aec09a;
  z-index: -1;
  left: 18rem;
  top: 10rem;
}

.circle2 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #aec09a;
  z-index: -1;
  left: 66rem;
  top: 10rem;
}
