* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  margin-top: 2rem;
}

input {
  padding: 1.5rem;
  border-radius: 2rem;
  width: 30rem;
  box-shadow: none;
  border: 1px solid black;
  outline-color: #3ba347;
}

.container button {
  width: 20rem;
  padding: 1rem 5rem;
  background-color: #b9848c;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 2rem;
  border: none;
  color: white;
  cursor: pointer;
}
